---
const { name, bg, border, color, link } = Astro.props;
---

<a
  class={`${bg} ${border} ${color}  text-bold px-4 py-2 md:rounded-xl cursor-pointer`}
  href={link}
  target="_blank"
  rel="norreferer"
>
  {name}
</a>
