---
import { getI18N } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const works = [
  {
    title: "Full Stack Developer",
    company: "Freelancer",
    date: "2023 - Present",
    description: i18n.experience.description_1,
  },
  {
    title: "IT Technician",
    company: "Primavera Sound",
    date: "MAY - JUNE 2023",
    description: i18n.experience.description_2,
  },
  {
    title: "IT Technician",
    company: "Alten",
    date: "MAY - JUNE 2023",
    description: i18n.experience.description_3,
  },
];
---

<section class="flex flex-col items-center gap-y-12 pt-20">
  <div>
    <h2 class="text-5xl">{i18n.experience.title}</h2>
  </div>
  <div class="flex flex-col gap-11 max-w-[800px] p-4">
    {
      works.map((work) => (
        <div class="flex flex-col gap-6">
          <div class="flex flex-col gap-y-2 md:flex-row md-items-center md:justify-between ">
            <h3 class="text-xl">
              {work.title} /
              <span class="text-base text-orange"> {work.company}</span>
            </h3>
            <p class="text-font2 text-sm font-light">{work.date}</p>
          </div>
          <div>
            <p class="text-font2 text-base">{work.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
