---
import { getI18N } from "@i18n/index";
import Github from "@icons/Github.astro";
import Preview from "@icons/Preview.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const projects = [
  {
    title: "PortTales - En construcción",
    description: i18n.projects.description_1,
    image: "/projects/porttales.webp",
    link: "https://porttales.vercel.app",
    github: "https://github.com/JaviiAzagra/porttales",
    utilities: ["Astro", "TailwindCSS"],
  },
  {
    title: "TK Keyboards",
    description: i18n.projects.description_2,
    image: "/projects/tkkeyboards.webp",
    link: "https://tk-keyboards.vercel.app/",
    github: "https://github.com/JaviiAzagra/Tk-Keyboards",
    utilities: ["React", "Node.js", "Express", "MongoDB"],
  },
  {
    title: "Mestre Cabreta",
    description: i18n.projects.description_3,
    image: "/projects/mestrecabreta.webp",
    link: "https://www.mestrecabreta.com",
    utilities: ["React", "Node.js", "Express", "MongoDB"],
  },
  {
    title: "TkCoder",
    description: i18n.projects.description_4,
    image: "/projects/tkcoder.webp",
    link: "https://tkcoder.vercel.app/",
    github: "https://github.com/JaviiAzagra/tkcoder.dev",
    utilities: ["React"],
  },
];

const colorMap: { [key: string]: string } = {
  React: "bg-[#60dbfb] text-black",
  "Node.js": "bg-green-500 text-black",
  Express: "bg-gray-500 text-font",
  MongoDB: "bg-green-800 text-font",
  Astro: "bg-purple-500 text-black",
  TailwindCSS: "bg-[#013158] text-font",
};
---

<section class="flex flex-col items-center justify-center gap-y-12 pt-20">
  <div>
    <h2 class="text-5xl">{i18n.projects.title}</h2>
  </div>
  <div class="grid grid-cols-1 gap-y-11 max-w-[800px] p-3">
    {
      projects.map((project) => (
        <div class="flex flex-col gap-10 md:flex-row items-center ">
          <div>
            <img
              class=" rounded-md max-w-[355px] md:max-w-[380px]"
              src={project.image}
              alt={project.title}
            />
          </div>
          <div class="h-full flex flex-col gap-4 ">
            <h3 class="text-xl">{project.title}</h3>
            <div class="flex gap-2">
              {project.utilities.map((util: string) => (
                <span
                  class={`text-xs  px-3 py-1 rounded-md ${
                    colorMap[util] || "bg-orange"
                  } `}
                >
                  {util}
                </span>
              ))}
            </div>
            <p class="text-sm text-font2">{project.description}</p>
            <div class="flex gap-4">
              <a
                class="flex items-center gap-x-1 text-black text-xs px-3 py-2 border border-white rounded-md  bg-white hover:border-white hover:bg-bgcolor hover:text-white"
                href={project.link}
                target="_blank"
                rel="norreferer"
              >
                <Preview />
                Preview
              </a>
              {project.github && (
                <a
                  class="flex items-center gap-x-1 text-black text-xs px-3 py-2 border border-white rounded-md  bg-white hover:border-white hover:bg-bgcolor hover:text-white"
                  href={project.github}
                  target="_blank"
                  rel="norreferer"
                >
                  <Github />
                  GitHub
                </a>
              )}
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div>
    <a
      class="text-font underline text-start w-full hover:text-orange"
      href="https://github.com/JaviiAzagra?tab=repositories"
      target="_blank"
      rel="norreferer">{i18n.projects.viewMore}</a
    >
  </div>
</section>
